redis/
mysql/
.idea/
/survie/.cache/
/survie/worlds/
/survie/logs/
/proxy/logs/
/survie/cache/
/survie/plugins/Essentials/userdata/
/survie/libraries/
/mariadb/
/backup/
/proxy/modules/
/proxy/plugins/LuckPerms/libs/
/survie/plugins/LuckPerms/libs/
