.idea/
/other-services/redis/
/other-services/mariadb/
/minecraft-servers/proxy/modules/
/minecraft-servers/*/.cache/
/minecraft-servers/*/worlds/
/minecraft-servers/*/logs/
/minecraft-servers/*/cache/
/minecraft-servers/*/libraries/
/minecraft-servers/*/plugins/Essentials/userdata/
/minecraft-servers/*/plugins/Essentials/*.bin
/minecraft-servers/*/plugins/LuckPerms/libs/
/minecraft-servers/*/plugins/LuckPerms/translations/repository/
/minecraft-servers/*/plugins/WorldEdit/schematics/